S3method(ggplot2::ggplot_add,ggplasmid_gene_highlight)
export(compute_gc_skew)
export(blast_pairwise)
export(format_plasmid_fasta)
export(gene_highlight)
export(ggplasmid)
export(ggplasmid_colors)
export(label_adjust)
export(plasmid_data)
export(plot_phage_map)
export(plot_plasmid_map)
export(prepare_plasmid_features)
export(read_annotation_table)
export(read_fasta)
export(read_gbk)
export(read_plasmid_annotation)
export(read_plasmid_fasta)
export(save_plasmid_map)
